@use '../../../../styles/helpers/media' as *;

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-primary);
  color: var(--color-text-on-primary);
  font-weight: 600;
  user-select: none;

  &__text {
    line-height: 1;
  }
}

.small {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  font-size: 12px;
}

.medium {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  font-size: 18px;

  @include mobile {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
}

.large {
  width: 64px;
  height: 64px;
  border-radius: 16px;
  font-size: 24px;

  @include mobile {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    font-size: 14px;
  }
}
