@use '../../../../styles/helpers/media' as *;

:host {
  display: block;
}

.search-card {
  display: grid;
  grid-template-areas:
    'icon header date'
    'icon badges badges'
    '. body body';
  grid-template-columns: auto 1fr;
  gap: 20px;
  width: 100%;
  padding-block: 40px;
  cursor: pointer;
  border-top: 2px solid var(--color-border);
  transition-duration: var(--transition-duration);

  @include mobile {
    grid-template-areas:
    'icon header header'
    'date date date'
    'badges badges badges'
    'body body body';
    gap: 12px;
    padding-block: 20px;
  }

  &:focus-visible {
    border-radius: 8px;
  }

  &:hover {
    background-color: var(--color-background-surface-hover);
    box-shadow:
      10px 0 10px 0 var(--color-background-surface-hover),
      -10px 0 10px 0 var(--color-background-surface-hover);
  }

  &__icon {
    display: flex;
    grid-area: icon;
    align-items: center;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;

    @include mobile-above {
      grid-template-columns: 1fr auto;
      gap: 20px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    grid-area: body;
    gap: 12px;
  }

  &__title {
    display: flex;
    grid-area: header;
    align-items: center;
  }

  &__date {
    display: flex;
    grid-area: date;
    align-items: center;
    color: var(--color-text-light);
  }

  &__description {
    font-size: 20px;
    font-weight: 500;

    @include mobile {
      font-size: 16px;
    }
  }

  &__summary {
    color: var(--color-text-light);
    font-size: 14px;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    grid-area: badges;
    gap: 12px;
    align-items: center;
  }
}
