@use '../../../../styles/helpers/media' as *;

.hero {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  transition-duration: var(--transition-duration);

  @include tablet {
    row-gap: 40px;
  }

  @include mobile {
    row-gap: 20px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    transition-duration: var(--transition-duration);

    @include mobile {
      display: flex;
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }

  &__title {
    max-width: 780px;
    transition-duration: var(--transition-duration);
    font-size: 64px;

    @include laptop {
      max-width: 620px;
      font-size: 48px;
    }

    @include tablet {
      max-width: 390px;
      font-size: 32px;
    }

    @include mobile {
      max-width: none;
      font-size: 24px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    transition-duration: var(--transition-duration);

    @include tablet {
      row-gap: 40px;
    }

    @include mobile {
      row-gap: 12px;
    }
  }

  &__body {
    font-size: 26px;
    transition-duration: var(--transition-duration);

    @include tablet {
      font-size: 20px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 220px;
    flex-shrink: 0;
    aspect-ratio: 1;
    transition-duration: var(--transition-duration);

    @include tablet {
      height: 100px;
    }

    @include mobile {
      align-self: center;
    }
  }

  &.collapsed {
    @include tablet-above {
      gap: 20px;

      & .hero__wrapper {
        gap: 20px;
      }

      & .hero__title {
        font-size: 30px;
      }

      & .hero__body {
        font-size: 16px;
      }

      & .hero__preview {
        height: 50px;
        min-height: unset;
        padding: 5px;
        border-radius: 10px;
      }
    }
  }
}

.search-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  width: 100%;

  @include tablet {
    grid-template-columns: minmax(0, 1fr);
  }

  @include mobile {
    gap: 12px;
  }

  &__group {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    gap: 20px;

    @include mobile {
      grid-template-columns: 1fr;
      gap: 12px;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;

    @include tablet-above {
      grid-column: span 2;
    }
  }

  &__footer-group {
    display: flex;
    gap: 20px;
    align-items: stretch;

    @include tablet {
      display: grid;
      width: 100%;
    }
  }

}

.search {
  padding-top: 20px;

  &__results-list {

  }

  &-select {
    height: 100%;
  }

  &__result-title {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--color-background-primary);
  }

  &__result-summary {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 30px;
    border: var(--border-primary);
    border-radius: 30px;
    background-color: var(--color-background-base);
    font-size: 18px;
    row-gap: 20px;

    @include mobile {
      margin-bottom: 20px;
    }
  }
}


