@use 'helpers/mixins' as *;
@use 'helpers/media' as *;

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-base);
  font-family: var(--font-family-base);
  font-size: 16px;

  @include mobile {
    font-size: 14px;
  }
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  color: var(--color-text);
  font-weight: 600;
}

h1, .h1 {
  font-size: 36px;
  line-height: 1.2;

  @include laptop {
    font-size: 45px;
  }

  @include tablet {
    font-size: 32px;
  }

  @include mobile {
    font-size: 24px;
  }
}

h2, .h2 {
  font-size: 28px;
  line-height: 1.3;

  @include mobile {
    font-size: 24px;
  }
}

h3, .h3 {
  font-size: 24px;
  line-height: 1.5;

  @include mobile {
    font-size: 18px;
  }
}

a,
button,
label,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit; // наследуем от body

  @include hover {
    color: var(--color-white);
  }

  &[class] { // отключаем подчеркивание у тех ссылок, у которых уже есть классы
    text-decoration: none;
  }

}

:focus-visible { // при фокусировке с клавиатуры
  outline: var(--input-border-focus);
  outline-offset: 4px;
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(44px);

      content: '';
    }
  }
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.content-wrapper {
  width: 100%;
  padding: 20px;

  @include mobile {
    padding: 12px;
  }
}

.main-wrapper {
  width: 100%;
  padding: 20px 20px 0;

  @include mobile {
    padding: 12px 12px 0;
  }
}

.main-card {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100dvh - var(--header-height) - var(--footer-height));
  padding: 50px 100px 0;
  border-radius: 60px 60px 0 0;
  background-color: var(--color-background-surface);

  @include mobile {
    padding: 16px;
    border-radius: 20px 20px 0 0;
  }
}

.visually-hidden {
  @include visually-hidden;
}

.visible-mobile {
  @include mobile-above {
    @include visually-hidden;
  }
}

.hidden-mobile {
  @include mobile {
    @include visually-hidden;
  }
}
