<footer class="footer">
  <div class="footer__content container">
    <div class="footer__column">
      <a routerLink="" class="footer__link">
        <figure class="footer__figure">
          <img class="footer__logo" ngSrc="/assets/logo-Y3ByDxSy.svg" alt="База знаний «Лобачевский»" height="42" width="32">
        </figure>
      </a>
      <div class="footer__details">
        <div class="footer__text">
          администрация Нижнего Новгорода
        </div>
        <address class="footer__contacts">
          <a href="tel:+79999999999" class="footer__contacts-link">+7 (999) 999‑99-99</a>
        </address>
      </div>
    </div>
    <div class="footer__aside">
      <p class="footer__item">HaHaTeam</p>
      <a href="https://t.me/sleepsemek" class="footer__contacts-link">&#64;telegram</a>
    </div>
  </div>
</footer>
