@use '../../../styles/helpers/media' as *;

:host {
  width: 100%;
}

.document {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @include mobile {
    row-gap: 12px;
  }

  &__header {
    display: grid;
    gap: 50px;

    &-column {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    @include tablet {
      gap: 20px;
    }

    @include tablet-above {
      grid-template-columns: 1fr auto;
    }

    &-controls {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      margin-top: auto;

      @include mobile {
        gap: 8px;
      }
    }
  }

  &__navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
  }

  &__title {
    display: inline;
    margin-right: 16px;
    font-size: 30px;
  }

  &__badge {
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    text-transform: uppercase;
    margin-block: 10px;
    vertical-align: 4px;
    white-space: nowrap;

    @include tablet {
      margin-block: 4px;
    }
  }

  &__info-card {
    height: 100%;
  }

  &__preview {
    width: 100%;
    border: var(--border-primary);
    border-radius: 30px;
    background-color: white;
    aspect-ratio: 0.69;
    overflow: hidden;
    box-shadow: var(--box-shadow);

    @include mobile {
      border-radius: 20px;
    }
  }
}

.controls {
  position: sticky;
  z-index: 10;
  top: calc(var(--header-height) + 40px + 30px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: fit-content;
  margin-left: 20px;
  padding: 12px;
  border-radius: 60px;
  background-color: var(--color-background-surface);
  overflow: visible;
  gap: 12px;

  @include mobile {
    top: calc(var(--header-height) + 20px);
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__value {
    color: var(--color-background-primary);
    font-weight: 500;
  }
}

.info-card {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    row-gap: 18px;
  }

  &__footer {
    display: flex;
    justify-content: end;
  }

  &__text-button {
    color: var(--color-text-light);
  }

  &__title {
    font-size: 25px;
    font-weight: 400;

    @include tablet {
      font-size: 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @include mobile {
      row-gap: 10px;
    }
  }

  &__term {
    color: var(--color-text-light);
  }

  &__definition {
    font-size: 20px;

    @include tablet {
      font-size: 16px;
    }
  }
}

.html-preview-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.html-preview-wrapper--scroll {
  overflow: auto;
}

.html-preview-content {
  display: inline-block;
  transform-origin: top left;
}

.html-preview__iframe {
  width: 100%;
  height: 100%;
  border: none;
}
