<div [class]="segmentedControlClasses">
  @for (option of options; track option) {
    <label class="segmented-control__label">
      <input
        class="segmented-control__input"
        type="radio"
        [name]="name"
        [value]="option.value"
        [checked]="option.value === value"
        (change)="onOptionChange(option.value)"
        (blur)="onTouched()"
      />
      <span class="segmented-control__button">
          {{ option.label }}
        </span>
    </label>
  }
</div>
