@use '../../../../styles/helpers/media' as *;

.fq-multi-select .p-multiselect {
  --p-multiselect-focus-border-color: var(--color-background-primary);
  --p-multiselect-focus-ring-shadow: none;
  --p-multiselect-focus-ring-width: 2px;
  --p-multiselect-focus-ring-style: solid;
  --p-multiselect-focus-ring-color: var(--color-background-primary);
  --p-multiselect-focus-ring-offset: -2px;

  width: 100%;
  padding: 16px 24px 16px 40px;
  border: 1px solid transparent !important;
  border-radius: 8px;
  outline: var(--input-border);
  background-color: var(--color-background-input) !important;
  font-size: 20px;
  transition:
    outline-color var(--transition-duration),
    outline-width var(--transition-duration)
  ;

  @include mobile {
    padding: 12px 12px 12px 40px;
  }

  & .p-placeholder {
    color: var(--color-text-light);
  }

  &-overlay {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 8px;
    outline: var(--input-border);
    background-color: var(--color-background-input);
    font-size: 16px;
    row-gap: 12px;
    box-shadow: var(--box-shadow);
  }

  &-header {
    display: flex;
    gap: 12px;
  }

  &-label-container {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 28px;
  }

  &-label {
    overflow: hidden;
    text-overflow: ellipsis;

    @include mobile {
      font-size: 16px;
    }
  }

  &-filter-container {
    position: relative;
  }

  &-filter {
    padding: 8px;
    border-radius: 8px;
    outline: var(--input-border);

    &:focus-visible {
      outline: var(--input-border-focus);
    }
  }

  &-list {
    display: flex;
    row-gap: 8px;
    padding: 4px;

    &-container {
      overflow-y: auto;
    }
  }

  &-option {
    display: flex;
    padding: 4px;
    border-radius: 8px;
    gap: 12px;
  }

  &-dropdown {
    margin-left: 8px;
    color: var(--color-text-light);
  }
}

.fq-multi-select .p-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: var(--input-border);
  border-radius: 8px;
  background-color: var(--color-background-input);
  color: var(--color-text-on-primary);
  transition: var(--transition-duration);
  flex-shrink: 0;

  &:has(.p-icon) {
    background-color: var(--color-background-primary);
  }
}

.fq-multi-select {
  position: relative;

  &__icon {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-light);
    pointer-events: none;
    translate: 40% -50%;
  }
}

.fq-multi-select .p-inputicon {
  position: absolute;
  top: 50%;
  right: 0;
  align-items: center;
  color: var(--color-text-light);
  translate: -200% -50%;
}

.fq-multi-select .p-multiselect-option:not(.p-multiselect-option-selected, .p-disabled).p-focus {
  outline: var(--input-border-focus);
  outline-offset: 2px;
}

