@use '../../../../styles/helpers/media' as *;
@use '../../../../styles/helpers/mixins' as *;

:host {
  position: fixed;
  inset: 0;
  z-index: 400;
  pointer-events: none;
}

.dialog-backdrop {
  position: fixed;
  pointer-events: all;
  inset: 0;
  backdrop-filter: blur(4px);
}

.dialog {
  position: fixed;
  top: 55%;
  left: 50%;
  display: flex;
  flex-direction: column;
  width: min(100%, 820px);
  max-height: 90vh;
  padding: 50px;
  border-radius: 40px;
  background: var(--color-background-base);
  transform: translate(-50%, -50%);
  pointer-events: all;
  row-gap: 20px;
  overflow-y: auto;
  box-shadow: 0 0 50px 20px rgb(0 0 0 / 20%);
  transition-duration: var(--transition-duration);

  @include mobile {
    padding: 20px;
    border-radius: 20px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__close {
    border: none;
    border-radius: 8px;
    background: transparent;
    color: var(--color-text);
    cursor: pointer;
    aspect-ratio: 1;
    scale: 1.3;
  }

  &__cross {
    @include cross
  }
}



